@font-face
{
	font-family: "champagne";
	src:url('font/champagne.ttf');
}

body
{
  background: url(img/bg.jpg);
  text-align : center;
  width: auto;
}

header
{
  margin-top:80px;
  padding-bottom: 80px;
}
#logo
{
  text-align : center;
  margin-left: 15px;
}
nav ul
{
  margin-top:-1px;
  text-align : center;
  margin-left:-10px;
}
nav li
{
	display: inline-block;
  border-bottom:1px solid black;
  margin:inherit;
}

nav a
{
	color: #000;
  text-shadow: 1px 1px 1px black;
  padding-left:2px;
  margin: 10px;
	text-decoration:none;
  font-size: 24px;
	font-family:"champagne","Courier New";
}



#profil
{
  padding-top:20px;
  padding-bottom: 20px;
  width:800px;
  text-align: center;

}

#text
{
  height:500px;
  text-align:left;
  

#photo
{
  float: left;
  width:200px;
	height:200px;
  border: 5px black solid;
  border-radius: 50%;
  margin-right: 15px;
}




footer
{
  color:#000;
  font-size: 13px;
	font-style: italic;
  font-family:"champagne","Courier New";
	text-align: center;
  clear:both;
}

footer a
{
    text-decoration:none;
    color:#000;
}
